#Define the class of Player 0 - 3.
#This class has to be loaded into the classpath
Player0 = ch.jassapp.player.random.RandomPlayer
Player1 = ch.jassapp.player.onebyone.OneByOnePlayer
Player2 = ch.jassapp.player.random.RandomPlayer
Player3 = ch.jassapp.player.onebyone.OneByOnePlayer

#Define the Number of Rounds Played in this game
NumberOfRounds = 250
